<a href="https://colab.research.google.com/github/bipashasaha2022-creator/IDEAS-TIH-Coffee-Sales-Analysis/blob/main/02_Exploratory_data_analysis_with_sales_data_Spring_2026.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
from google.colab import files
uploaded=files.upload()

Saving Coffe_sales.csv to Coffe_sales.csv

In [ ]:
import pandas as pd
import numpy as np

from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error

In [ ]:
df_display=pd.read_csv('Coffe_sales.csv')
display(df_display.head())

,hour_of_day,cash_type,money,coffee_name,Time_of_Day,Weekday,Month_name,Weekdaysort,Monthsort,Date,Time
0,10,card,38.7,Latte,Morning,Fri,Mar,5,3,2024-03-01,10:15:50.520000
1,12,card,38.7,Hot Chocolate,Afternoon,Fri,Mar,5,3,2024-03-01,12:19:22.539000
2,12,card,38.7,Hot Chocolate,Afternoon,Fri,Mar,5,3,2024-03-01,12:20:18.089000
3,13,card,28.9,Americano,Afternoon,Fri,Mar,5,3,2024-03-01,13:46:33.006000
4,13,card,38.7,Latte,Afternoon,Fri,Mar,5,3,2024-03-01,13:48:14.626000

In [ ]:
print(f"Dataframe shape(total rows,total column):{df_display.shape}")
print(f"Total duplicate Rows:{df_display.duplicated().sum()}")
print(f"Total missing values per column:")
display(df_display.isnull().sum().sum())

Dataframe shape(total rows,total column):(3547, 11)
Total duplicate Rows:0
Total missing values per column:

np.int64(0)

In [ ]:
display(df_display.describe(include='all'))

,hour_of_day,cash_type,money,coffee_name,Time_of_Day,Weekday,Month_name,Weekdaysort,Monthsort,Date,Time
count,3547.000000,3547,3547.000000,3547,3547,3547,3547,3547.000000,3547.000000,3547,3547
unique,NaN,1,NaN,8,3,7,12,NaN,NaN,381,3547
top,NaN,card,NaN,Americano with Milk,Afternoon,Tue,Mar,NaN,NaN,2024-10-11,18:11:38.635000
freq,NaN,3547,NaN,809,1205,572,494,NaN,NaN,26,1
mean,14.185791,NaN,31.645216,NaN,NaN,NaN,NaN,3.845785,6.453905,NaN,NaN
std,4.234010,NaN,4.877754,NaN,NaN,NaN,NaN,1.971501,3.500754,NaN,NaN
min,6.000000,NaN,18.120000,NaN,NaN,NaN,NaN,1.000000,1.000000,NaN,NaN
25%,10.000000,NaN,27.920000,NaN,NaN,NaN,NaN,2.000000,3.000000,NaN,NaN
50%,14.000000,NaN,32.820000,NaN,NaN,NaN,NaN,4.000000,7.000000,NaN,NaN
75%,18.000000,NaN,35.760000,NaN,NaN,NaN,NaN,6.000000,10.000000,NaN,NaN
max,22.000000,NaN,38.700000,NaN,NaN,NaN,NaN,7.000000,12.000000,NaN,NaN

In [ ]:
display(df_display.dtypes)

hour_of_day      int64
cash_type       object
money          float64
coffee_name     object
Time_of_Day     object
Weekday         object
Month_name      object
Weekdaysort      int64
Monthsort        int64
Date            object
Time            object
dtype: object

In [ ]:
df_display['Date']=pd.to_datetime(df_display['Date'])

df_display['Month']=df_display['Date'].dt.month
df_display['year']=df_display['Date'].dt.year

display(df_display.dtypes)

hour_of_day             int64
cash_type              object
money                 float64
coffee_name            object
Time_of_Day            object
Weekday                object
Month_name             object
Weekdaysort             int64
Monthsort               int64
Date           datetime64[ns]
Time                   object
Month                   int32
year                    int32
dtype: object

In [ ]:
display(df_display.groupby('year')['money'].mean())

year
2024    31.737634
2025    31.390011
Name: money, dtype: float64

In [ ]:
display(df_display.groupby('Month_name')['money'].max())

Month_name
Apr    38.70
Aug    32.82
Dec    35.76
Feb    35.76
Jan    35.76
Jul    37.72
Jun    37.72
Mar    38.70
May    37.72
Nov    35.76
Oct    35.76
Sep    35.76
Name: money, dtype: float64

In [ ]:
display(df_display.groupby('coffee_name')['money'].sum())

coffee_name
Americano              14650.26
Americano with Milk    24751.12
Cappuccino             17439.14
Cocoa                   8521.16
Cortado                 7384.86
Espresso                2690.28
Hot Chocolate           9933.46
Latte                  26875.30
Name: money, dtype: float64

In [ ]:
from enum import unique
unique_coffee=df_display['coffee_name'].unique()
print(f"Number of unique coffee names:{len(unique_coffee)}")
print(f"First 10 unique coffee names:")
print(unique_coffee[:10])

Number of unique coffee names:8
First 10 unique coffee names:
['Latte' 'Hot Chocolate' 'Americano' 'Americano with Milk' 'Cocoa'
 'Cortado' 'Espresso' 'Cappuccino']

In [ ]:
display(df_display.groupby('Time_of_Day')['money'].mean())

Time_of_Day
Afternoon    31.643187
Morning      30.422693
Night        32.890904
Name: money, dtype: float64

In [ ]:
df_display=pd.date_range(start="2023-01-01",periods=100)
display(df_display)

DatetimeIndex(['2023-01-01', '2023-01-02', '2023-01-03', '2023-01-04',
               '2023-01-05', '2023-01-06', '2023-01-07', '2023-01-08',
               '2023-01-09', '2023-01-10', '2023-01-11', '2023-01-12',
               '2023-01-13', '2023-01-14', '2023-01-15', '2023-01-16',
               '2023-01-17', '2023-01-18', '2023-01-19', '2023-01-20',
               '2023-01-21', '2023-01-22', '2023-01-23', '2023-01-24',
               '2023-01-25', '2023-01-26', '2023-01-27', '2023-01-28',
               '2023-01-29', '2023-01-30', '2023-01-31', '2023-02-01',
               '2023-02-02', '2023-02-03', '2023-02-04', '2023-02-05',
               '2023-02-06', '2023-02-07', '2023-02-08', '2023-02-09',
               '2023-02-10', '2023-02-11', '2023-02-12', '2023-02-13',
               '2023-02-14', '2023-02-15', '2023-02-16', '2023-02-17',
               '2023-02-18', '2023-02-19', '2023-02-20', '2023-02-21',
               '2023-02-22', '2023-02-23', '2023-02-24', '2023-02-25',
               '2023-02-26', '2023-02-27', '2023-02-28', '2023-03-01',
               '2023-03-02', '2023-03-03', '2023-03-04', '2023-03-05',
               '2023-03-06', '2023-03-07', '2023-03-08', '2023-03-09',
               '2023-03-10', '2023-03-11', '2023-03-12', '2023-03-13',
               '2023-03-14', '2023-03-15', '2023-03-16', '2023-03-17',
               '2023-03-18', '2023-03-19', '2023-03-20', '2023-03-21',
               '2023-03-22', '2023-03-23', '2023-03-24', '2023-03-25',
               '2023-03-26', '2023-03-27', '2023-03-28', '2023-03-29',
               '2023-03-30', '2023-03-31', '2023-04-01', '2023-04-02',
               '2023-04-03', '2023-04-04', '2023-04-05', '2023-04-06',
               '2023-04-07', '2023-04-08', '2023-04-09', '2023-04-10'],
              dtype='datetime64[ns]', freq='D')

In [ ]:
random_values = np.random.randn(100)

date_range_for_new_df = pd.date_range(start="2023-01-01", periods=100)

data = {'Date': date_range_for_new_df,
        'Random_Value': random_values
}

new_df = pd.DataFrame(data)

display(new_df)

         Date  Random_Value
0  2023-01-01     -0.376413
1  2023-01-02      1.764788
2  2023-01-03     -1.144435
3  2023-01-04     -0.089411
4  2023-01-05      0.446590
..        ...           ...
95 2023-04-06      0.746494
96 2023-04-07     -0.249736
97 2023-04-08     -0.488026
98 2023-04-09      0.155782
99 2023-04-10     -1.188703

[100 rows x 2 columns]

In [ ]:
df_display =pd.read_csv("Coffe_sales.csv")

df_model = df_display[['hour_of_day', 'coffee_name', 'Weekday', 'money']]
df_model = df_model.dropna()

In [ ]:
df_encoded = pd.get_dummies(df_model, columns=['coffee_name', 'Weekday'])
df_encoded.head()

,hour_of_day,money,coffee_name_Americano,coffee_name_Americano with Milk,coffee_name_Cappuccino,coffee_name_Cocoa,coffee_name_Cortado,coffee_name_Espresso,coffee_name_Hot Chocolate,coffee_name_Latte,Weekday_Fri,Weekday_Mon,Weekday_Sat,Weekday_Sun,Weekday_Thu,Weekday_Tue,Weekday_Wed
0,10,38.7,False,False,False,False,False,False,False,True,True,False,False,False,False,False,False
1,12,38.7,False,False,False,False,False,False,True,False,True,False,False,False,False,False,False
2,12,38.7,False,False,False,False,False,False,True,False,True,False,False,False,False,False,False
3,13,28.9,True,False,False,False,False,False,False,False,True,False,False,False,False,False,False
4,13,38.7,False,False,False,False,False,False,False,True,True,False,False,False,False,False,False

In [ ]:
X = df_encoded.drop("money", axis=1)
y = df_encoded["money"]

model = LinearRegression()
model.fit(X, y)

print("Linear Regression Model Trained on Full Dataset")

Linear Regression Model Trained on Full Dataset

In [ ]:
y_pred=model.predict(X)

mse = mean_squared_error(y, y_pred)
print(" Mean Squared Error (MSE):", mse)

 Mean Squared Error (MSE): 3.158816361605048

In [ ]:
#Example of Prediction

sample = pd.DataFrame({
    'hour_of_day': [9],
    'coffee_name': ['Cappuccino'],
    'Weekday': ['Fri']
})

sample_encoded = pd.get_dummies(sample)

sample_encoded = sample_encoded.reindex(columns=X.columns, fill_value=0)

predicted_money = model.predict(sample_encoded)
print("Predicted Sales Amount:", predicted_money[0])

Predicted Sales Amount: 35.82479356909607